


li {
    display: inline;
}



#navbar{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position : fixed;
        top:0;

}

.navbar {
    text-decoration: none;
    margin-right: 40px;
    color:black;

}

.navbar:hover{
    text-decoration: underline;
 
}

#connexion{
    background: blue;
    color: white;
    font-family: sans-serif;
    margin-right: 40px;
}


#main{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}


.logo{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
}




#saisie{
width: 50em;
height: 3em;
background: white;
}

#saisie:hover{
    box-shadow:5px 10px 5px #666 ;
}


.boutons{
    background: #dce0e8;  
    color: #585d66;
    font-family: sans-serif;
    margin-top: 2em;
    margin-right: 5px;
}

#boutons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.boutons:hover{
    color: black;
    box-shadow:1px 2px 3px #666 ;
    background: #f7f8f9;
}



#footer{
width: 100%;
background: grey;
position:fixed;
bottom:0;

}

.france{
background: white;
padding-left: 30px;
display: flex;
justify-content: ;
}

.legal{
 padding-left: 0px;
 margin-right: 10px;
 width: 100%;
 background: white;
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}
#navgauche{

	padding-left:30px;
}
#navdroite{

	margin-right:30px;
}

.grrr{
    text-decoration: none;
    color :black;
    padding-right:10px;
} 
.grrr:hover{
    text-decoration: underline
}

header, main, footer {
    flex-shrink: 0;
}




